$_4px: remify(4px);     // 0.5 × base
$_8px: remify(8px);     // 1.0 × base
$_12px: remify(12px);   // 1.5 × base
$_16px: remify(16px);   // 2.0 × base
$_24px: remify(24px);   // 3.0 × base
$_32px: remify(32px);   // 4.0 × base

//

$html-font-size: 62.5%;

$font-family-sans-serif: 'Inter UI', sans-serif !default;
$font-family-serif: serif !default;
$font-family-monospace: 'Dank Mono', 'IBM Plex Mono', 'Source Code Pro', monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: remify(14px) !default;

//

$element-padding: 1rem !default;

// Application layout

$application-grid-template-columns: auto 24rem;
$application-grid-template-rows: 4rem auto 3.5rem;

// Docked panels

$border-panel-border: solid 2px $color-cool-grey-300;
