$color-cool-grey-100: #F5F7FA !default;
$color-cool-grey-200: #E4E7EB !default;
$color-cool-grey-300: #CBD2D9 !default;
$color-cool-grey-400: #9AA5B1 !default;
$color-cool-grey-500: #7B8794 !default;
$color-cool-grey-600: #616E7C !default;
$color-cool-grey-700: #52606D !default;
$color-cool-grey-800: #3E4C59 !default;
$color-cool-grey-900: #323F4B !default;
