.pane-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pane-element {
  display: flex;
  border: dashed 1px #f00;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.pane-element.pane-element--vertical {
  height: 100%;
}

.pane-element.pane-element--horizontal {
  flex-direction: row;
  width: 100%;
}

.pane-element__content {
}
