// Typography

$font-base: 'Inter UI';

@mixin text-regular {
  font-family: 'Inter UI', 'inter-ui-regular', sans-serif;
}

@mixin text-bold {
  font-family: 'Inter UI', 'inter-ui-bold', sans-serif;
}

//

//

