$font-family-system: system;
$font-family-sans-serif: 'Inter UI', 'DIN', system, sans-serif;
$font-family-monospace: 'IBM Plex Mono', monospace !default;

//

$element-padding: .4rem !default;

//

$color-cool-grey-100: #F5F7FA;
$color-cool-grey-200: #E4E7EB;
$color-cool-grey-300: #CBD2D9;
$color-cool-grey-400: #9AA5B1;
$color-cool-grey-500: #7B8794;
$color-cool-grey-600: #616E7C;
$color-cool-grey-700: #52606D;
$color-cool-grey-800: #3E4C59;
$color-cool-grey-900: #323F4B;
