body {
  padding: 0;
  margin: 0;
  font-family: 'Avenir Next', sans-serif;
}

* {
  // border: solid 1px #f00;
  box-sizing: border-box;
}

pre,
code {
  font-family: 'Overpass Mono', monospace;
}

@import './components/index';
