$alert-width-base: 50vw;
$alert-padding-base: 2rem 6rem;
$alert-header-padding: $alert-padding-base;
$alert-body-padding: $alert-padding-base;

.alert {
  position: fixed;
  border: solid remify(1px) $alert-border-color;
  background: $alert-background;
  color: $alert-text-color;
  width: $alert-width-base;
  padding: $alert-padding-base;
  transform: translateX(-50%);
  left: 50%;
  top: $application-header-height + 1.5rem;
  border-radius: .5rem;
  z-index: 1;
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .23);
}

.alert__header {
  font-weight: $font-weight-medium;
  margin-bottom: 1rem;
}

.alert__body {
}
