$color-grid-template-column-size: minmax(2.5rem, 1fr);

.color-grid {
  // border: solid 1px #f00;
}

.color-grid__content {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, $color-grid-template-column-size);
  grid-auto-rows: 1fr;
  padding-right: 2px;
  margin-bottom: 2px;
  margin-left: -2px;
}

.color-grid__content::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.color-grid__item:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.color-grid__item {
  padding: 2px 0 0 2px;
}

.color-grid__palette-item {
  border: solid remify(1px) rgba($color-cool-grey-600, .6);
}
