.color-grid {}

.color-grid__content {
  @include square-grid($square-grid-size);
  padding-right: 2px;
  margin-bottom: 2px;
  margin-left: -2px;
}

.color-grid__item {
  padding: 2px 0 0 2px;
}

.color-grid__palette-item {
  border: solid remify(1px) rgba($color-cool-grey-600, .6);
}

.palette-item--selected {
  transform: translateY(-4px);
  box-shadow: 0 4px 0 rgba(0, 0, 0, .2);
}
