.editor-root {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $color-cool-grey-200;
}

.editor-wrapper {
  display: flex;
}

.editor-root,
.editor-body,
.editor-preview {
}

//

.editor-body {
}

//

.editor-pixel-highlight {
  position: absolute;
  border: solid 1px #f00;
  pointer-events: none;
}

.editor-body {
  position: relative;
}

.editor-canvas {
  background-color: rgba(0, 0, 0, .2);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
